<template>
    <div
    :is="tag"
    :type="nativeType"
    :disabled="disabled"
    class="icui-button"
    :class="[
      'icui-button--' + type,
      'icui-button--' + size,
      {
        'icui-button--disabled': disabled,
        'icui-button--loading': loading,
        'icui-button--block': block,
        'icui-button--bottom-action': bottomAction
      }
    ]"
    @click="onClick"
  >
    <!-- <loading v-if="loading" size="20px" :color="type === 'default' ? 'black' : 'white'" /> -->
    <span class="van-button__text">
      <slot>{{ text }}</slot>
    </span>
  </div>
</template>

<script>
const COMPONENT_NAME = 'ic-button'
export default {
  name:COMPONENT_NAME,
   props: {
    text: String,
    block: Boolean,
    loading: Boolean,
    disabled: Boolean,
    nativeType: String,
    bottomAction: Boolean,
    tag: {
      type: String,
      default: 'button'
    },
    type: {
      type: String,
      default: 'default'
    },
    size: {
      type: String,
      default: 'normal'
    }
  },
  methods:{
    onClick(event) {
      if (!this.loading && !this.disabled) {
        this.$emit('click', event);
      }
    }
  }
};
</script>
