<template>
    <div class="container">
      <div>
        <ic-button type="default" size="large">login</ic-button>
      </div>
      <ic-button type="primary" size="large"> button</ic-button>
      <ic-button type="danger"> button</ic-button>
    </div>
 
</template>
<style>
 .container {
   padding-left: 20px;
   padding-right: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
</style>
    
  