@import './common/var.css';
.icui-button {
  position: relative;
  padding: 0;
  display: inline-block;
  height: 45px;
  line-height: 43px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  -webkit-appearance: none;

  &::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    width: 100%;
    height: 100%;
    border: inherit;
    border-color: $black;
    background-color: $black;
    border-radius: inherit;/* inherit parent's border radius */
    transform: translate(-50%, -50%); 
  }

  &:not([disabled]):active::before {
    opacity: .3;
  }

  &--default {
    color: $button-default-color;
    background-color: $button-default-background-color;
    border: 1px solid $button-default-border-color;
  }

  &--primary {
    color: $button-primary-color;
    background-color: $button-primary-background-color;
    border: 1px solid $button-primary-border-color;
  }

  &--danger {
    color: $button-danger-color;
    background-color: $button-danger-background-color;
    border: 1px solid $button-danger-border-color;
  }

  &--large {
    width: 100%;
    height: 50px;
    line-height: 48px;
  }

  &--normal {
    padding: 0 15px;
    font-size: 14px;
  }

  &--small {
    height: 30px;
    padding: 0 8px;
    min-width: 60px;
    font-size: 12px;
    line-height: 28px;
  }

  &--loading {
    .van-loading {
      margin: 0 auto;
    }

    .van-button__text {
      display: none;
    }
  }

  /* mini图标默认宽度50px，文字不能超过4个 */
  &--mini {
    display: inline-block;
    width: 50px;
    height: 22px;
    line-height: 20px;
    font-size: 10px;

    & + .van-button--mini {
      margin-left: 5px;
    }
  }

  &--block {
    width: 100%;
    display: block;
  }

  &--bottom-action {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    color: $button-bottom-action-default-color;
    background-color: $button-bottom-action-default-background-color;

    &.van-button--primary {
      background-color: $button-bottom-action-primary-background-color;
    }
  }

  &--disabled {
    color: $button-disabled-color;
    background-color: $button-disabled-background-color;
    border: 1px solid $button-disabled-border-color;
  }
}
