<template>
  <div class="zan-doc">
    <zan-doc-header :nav="config.header" active="移动端" />
    <zan-doc-container :hasSimulator="!!simulator">
      <zan-doc-nav :navConfig="config.nav" base="/component" />
      <zan-doc-content>
        <slot></slot>
        <zan-doc-footer-nav :navConfig="config.nav" />
      </zan-doc-content>
    </zan-doc-container>
    <zan-doc-simulator v-if="simulator" :src="simulator" />
    <zan-doc-footer :config="config.footer" />
  </div>
</template>

<script>
export default {
  name: 'ic-doc',

  props: {
    config: {
      type: Object,
      required: true
    },
    simulator: String
  }
}
</script>

<style lang="postcss">
@import '../style/index.css';
</style>
